html {
  scroll-behavior: smooth;
}
 
:target {
  scroll-margin-top: 10vh;
}

h1.h1-text::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}

a.nav-aba {
  padding: 0 20px;
  border: 2px solid #3d137f;
  border-radius: 15px;
  color: white;
}
  a.nav-aba.active {
    background-color: #3d137f;
  }
  a.nav-aba:hover {
    background-color: #3d137f;
    color: white;
  }

nav.navbar {
  background-color: #23BE3D!important;
  padding: 20px;
}

header.header-site {
  background-color: #3d137f;
}

header p, a {
  color: white;
  
}

header p {
  height: fit-content;
}

header a:hover {
  color: #9900ff;
  font-weight: bold;
}

header.header-site div.container div.row div.d-flex {
  align-items: center;
}

header .link-icone-media-social {
  background-color: transparent;
  line-height: 30px;
  margin-top: 1.5vh;
}

header .icones-media-social {
  text-align: right;
}

/* INICIO BOX HOME */
.box-01 {
  height: 95vh;
  background-image: url('../images/pocket/fundo-home-pocket.png');
  background-color: #5c3797;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.box-conteudo {
  padding-top: 3vh;
}

div.menu-pocket {
  width: 100%;
}

ul.lista-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

ul.lista-menu li {
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid;
  padding: 5px 20px;
  margin: 0vh;
}

ul.lista-menu li.roxo {
  border-color: #3d137f;
  background-color: #3d137f;
}
ul.lista-menu li.verde {
  border-color: #23BE3D;
  background-color: #23BE3D;
}

ul.lista-menu li, ul.lista-menu li a {
  font-weight: bold;
  color: white;
}

ul.lista-menu li.roxo a:hover {
  color: #23BE3D;
}

ul.lista-menu li.verde a:hover {
  color: #3d137f;
}
/* FIM BOX HOME */

/* INICIO BOX INGRESSOS */
.box-02 {
  height: 102vh;
  background-color: #23BE3D;
  background-image: url('../images/pocket/fundo-ingressos-pocket.png');
  background-repeat: no-repeat;
  background-size: cover;
}

div.ingressos-content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  a.ingressos-btn {
    font-weight: bold;
    font-size: 2rem;
    background-color: #3d137f;
    color: white;
    padding: 3vh;
    border-radius: 60px;
  }
  a.ingressos-btn:hover {
    color: #23BE3D;
    background-color: #20064b;
  }

div.ingressos-content2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  margin-top: 10vh;
  font-size: 1.5rem;
}
  div.ingressos-content2, div.ingressos-content2 h1 {
    padding: 1vh;
    color: black;
    font-weight: bold;
  }
  div.ingressos-content2 ul li {
    color: black;
    font-size: 1.2rem;
  }
  div.ingressos-content2 p {
    color: black;
  }
/* FIM BOX INGRESSOS */

/* INICIO BOX CONVIDADOS */
.box-03 {
  height: 110vh;
  background-color: #3d137f;
  text-align: center;
  padding-top: 5vh;
}

.box-03 h2 { 
  color: white;
}

div.lista-convidados-pocket {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6vh;
}

div.lista-convidados-pocket div.box-convidados-pocket.AH,
div.lista-convidados-pocket div.box-convidados-pocket.IB,
div.lista-convidados-pocket div.box-convidados-pocket.PDT,
div.lista-convidados-pocket div.box-convidados-pocket.KB {
  animation: float01 6s ease-in-out infinite;
}

div.lista-convidados-pocket div.box-convidados-pocket.JP,
div.lista-convidados-pocket div.box-convidados-pocket.LB,
div.lista-convidados-pocket div.box-convidados-pocket.AC {
  animation: float02 6s ease-in-out infinite;
}

div.lista-convidados-pocket div.box-convidados-pocket {
  width: 180px;
  height: 180px;
  border: 5px solid #23BE3D;
  border-radius: 40px;
  text-align: center;
  margin: 1vh;
  background-size: cover;
  background-position: center;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  transition: 0.2s ease-in-out;
}

div.lista-convidados-pocket div.box-convidados-pocket:hover,
div.lista-convidados-pocket div.box-convidados-pocket p:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.05);
}

div.lista-convidados-pocket div.box-convidados-pocket p {
  position: relative;
  top: 130px;
  background-color: rgba(0, 255, 0, 0.7);
  background-clip: padding-box;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  color: black;
}

div.lista-convidados-pocket div.box-convidados-pocket.AH p,
div.lista-convidados-pocket div.box-convidados-pocket.PDT p,
div.lista-convidados-pocket div.box-convidados-pocket.AC p,
div.lista-convidados-pocket div.box-convidados-pocket.KB p {
  top: 115px;
  border-radius: 0 0 22px 22px;
}

div.lista-convidados-pocket div.box-convidados-pocket.AH {
  background-image: url('../images/pocket/convidados/AH\ \(1\).png');
}
div.lista-convidados-pocket div.box-convidados-pocket.JP {
  background-image: url('../images/pocket/convidados/JP\ \(1\).png');
}
div.lista-convidados-pocket div.box-convidados-pocket.IB {
  background-image: url('../images/pocket/convidados/IB\ \(1\).png');
}
div.lista-convidados-pocket div.box-convidados-pocket.LB {
  background-image: url('../images/pocket/convidados/LB\ \(1\).png');
}
div.lista-convidados-pocket div.box-convidados-pocket.PDT {
  background-image: url('../images/pocket/convidados/PDT\ \(1\).jpg');
}
div.lista-convidados-pocket div.box-convidados-pocket.AC {
  background-image: url('../images/pocket/convidados/AC\ \(1\).jpg');
}
div.lista-convidados-pocket div.box-convidados-pocket.KB {
  background-image: url('../images/pocket/convidados/KB\ \(1\).png');
}

div#painel-convidados-pocket {
  margin: 0 auto;
  width: 80%!important;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

div#painel-convidados-pocket.AH {
  background-image: url('../images/pocket/convidados/AH\ \(2\).png');
}
div#painel-convidados-pocket.JP {
  background-image: url('../images/pocket/convidados/JP\ \(2\).png');
}
div#painel-convidados-pocket.IB {
  background-image: url('../images/pocket/convidados/IB\ \(2\).png');
}
div#painel-convidados-pocket.LB {
  background-image: url('../images/pocket/convidados/LB\ \(2\).png');
}
div#painel-convidados-pocket.PDT {
  background-image: url('../images/pocket/convidados/PDT\ \(2\).png');
}
div#painel-convidados-pocket.AC {
  background-image: url('../images/pocket/convidados/AC\ \(2\).png');
}
div#painel-convidados-pocket.KB {
  background-image: url('../images/pocket/convidados/KB\ \(2\).png');
}
/* FIM BOX CONVIDADOS */

/* INICIO BOX CADASTROS */
section#cadastros-pocket {
  height: 90vh;
  transition: 0.5s ease-in-out;
}

section#cadastros-pocket div.row {
  padding-bottom: 2vh;
}
.box-04 {
  height: 90vh;
  background-color: #23BE3D;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5vh;
  text-align: center;
}

.box-04 h2 {
  color: white;
  font-size: 5rem;
  user-select: none;
}

.box-04 p {
  font-size: 2.5rem;
  color: white;
}

.box-04 img {
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  transition: 0.3s ease-in-out;
}

.box-04 div.row div a {
  position: relative;
  top: 1vh;
}

div.btn-esquerda {
  padding-right: 25vh;
}

div.btn-direita {
  padding-left: 25vh;
}

.box-04 a {
  color: white;
  padding: 1vh;
  display: block;
  background-color: #3d137f;
  border-radius: 30px;
  font-size: 1.5rem;
  margin-top: 2.5vh;
}

.box-04 a:hover {
  background-color: #20064b;
  color: #23BE3D;
}

div.cosplay-div:hover img,
div.kpop-div:hover img,
div.beco-div:hover img {
  transform: scale(1.1);
}

div#cosplay-infos,
div#kpop-infos,
div#beco-infos {
  display: none;
  margin-top: 13vh;
  transition: 0.2s ease-in-out;
}

div#cosplay-infos a,
div#kpop-infos a,
div#beco-infos a {
  text-align: center;
  font-weight: bold;
}

div#kpop-infos,
div#beco-infos {
  padding-bottom: 3vh;
}

div#cosplay-infos div.btns-info-cosplay a {
  margin: 0 auto;
  border-radius: 30px;
  background-color: #3d137f;
  color: white;
  font-weight: bold;
}

div#cosplay-infos div.btns-info-cosplay a:hover {
  background-color: #20064b;
  color: #23BE3D;
  cursor: pointer;
}

div#info-cosplay-div-1,
div#info-cosplay-div-2,
div#info-cosplay-div-3 {
  background-image: url('/images/pocket/cadastros/fundo-cadastro-cosplay.png');
}

div#info-cosplay-div-1,
div#info-cosplay-div-2,
div#info-cosplay-div-3,
div#info-kpop-div-1,
div#info-beco-div-1 {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.box-vazia {
  height: max-content;
}

.box-texto {
  align-self: center;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.box-texto h3 {
  color: #3d137f;
  font-weight: bolder;
}
.box-texto p {
  font-size: large;
  color: black;
  text-align: justify;
}

div#info-cosplay-div-2 div.box-texto {
  margin: 0 auto;
}

div.btns-info-cosplay {
  position: relative;
  top: -10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#info-kpop-div-1 {
  background-image: url('/images/pocket/cadastros/fundo-cadastro-kpop.png');
}
div#info-beco-div-1 {
  background-image: url('/images/pocket/cadastros/fundo-cadastro-beco.png');
}

div.box-regulamento {
  width: 100%;
  background-color: red;
  display: flex;
  background-image: url('../images/pocket/cadastros/fundo-cadastro-cosplay.png');
  background-position: center;
  background-size: cover;
}

/* INICIO SEÇÃO SALAS TEMÁTICAS */

section#salas-pocket {
  height: fit-content;
}

.box-05 {
  padding: 5vh;
  height: 100vh;
  background-color: #3d137f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

div#painel-salas-pocket {
  height: 90vh;
  background-image: url('../images/pocket/fundo-salas-pocket.png');
  background-position: center;
  background-size: cover;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  border-radius: 30px;
}

h2.titulo-salas {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding: 2vh;
  margin-top: 4vh;
  color: #3d137f;
  background-color: rgb(255, 255, 255, 0.5);
  font-size: 5rem;
}

section#salas-pocket a {
  font-weight: bold;
  background-color: #3d137f;
  color: white;
  padding: 3vh;
  border-radius: 60px;
  position: relative;
  top: 60vh;
  transition: 0.5s ease-in-out;
}

section#salas-pocket a:hover {
  color: #23BE3D;
  background-color: #20064b;
}

div#sala-aldeia,
div#sala-genshin,
div#sala-comunal,
div#sala-atelie {
  display: none;
  margin-top: 2vh;
  padding-bottom: 2vh;
}

div#sala-aldeia-infos,
div#sala-genshin-infos,
div#sala-comunal-infos,
div#sala-atelie-infos {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

div#sala-aldeia-infos {
  background-image: url('../images/pocket/salas-tematicas/fundo-aldeia-da-folha.png');
}
div#sala-genshin-infos {
  background-image: url('../images/pocket/salas-tematicas/fundo-genshin-impact.png');
}
div#sala-comunal-infos {
  background-image: url('../images/pocket/salas-tematicas/fundo-salao-comunal.png');
}
div#sala-atelie-infos {
  background-image: url('../images/pocket/salas-tematicas/fundo-atelie-do-medo.png');
}

div.box-texto h2 {
  color: #3d137f;
  font-weight: bold;
}

div.box-texto {
  margin-left: auto;
  margin-right: 2vh;
  font-size: 1.8rem;
}

/* INICIO SEÇÃO AREA GAME */
section#area-game-pocket {
  height: 90vh;
  background-color: #23BE3D;
}

section#area-game-pocket div.container {
  height: 100%;
  padding: 5vh;
}

div.box-area-game {
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-image: url('../images/pocket/area-game/fundo-area-game-pocket.png');
  background-position: center;
  background-size: cover;
  padding: 5vh;
}

section#area-game-pocket h2.area-game-titulo {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding: 2vh;
  color: #3d137f;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 4rem;
}

section#area-game-pocket a {
  position: relative;
  top: 54vh;
  border-radius: 15px;
  background-color: #188a2b;
  color: white;
  font-weight: bold;
  padding: 2vh;
}

section#area-game-pocket a:hover {
  cursor: pointer;
  background-color: #0e6e1e;
  color: #9900ff;
}
div.box-buttons-area-game {
  display: flex;
  justify-content: space-between;
}

/* INICIO ÁREA PATROCINADORES */

section#patrocinadores-pocket.box-07 {
  height: 30vh;
  background-color: #3d137f;
  padding-top: 2vh;
}

section#patrocinadores-pocket h2 {
  width: fit-content;
  display: block;
  color: white;
  margin: 0 auto;
  margin-bottom: 3vh;
}

section#patrocinadores-pocket div.container div.box-imagens-patrocinadores {
  display: flex;
  justify-content: space-around;
}

section#patrocinadores-pocket div.container div.box-imagens-patrocinadores img {
  max-width: 14vh;
  height: fit-content;
  margin: auto 0;
  transition: 0.3s ease-in-out;
}

section#patrocinadores-pocket div.container div.box-imagens-patrocinadores img.float01 {
  animation: float01 8s ease-in;
}
section#patrocinadores-pocket div.container div.box-imagens-patrocinadores img.float02 {
  animation: float02 8s ease-in;
}

/* INICIO RODAPE */

footer {
  background-color: #23BE3D;
  padding: 5vh;
}

footer p {
  color: white;
}

footer a {
  color: #9900ff;
}

footer a:hover {
  color: white;
}

ul li.icone-media-social a.link-icone-media-social:hover {
  background-color: #9900ff;
  color: white;
}

.icone-media-social {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.link-icone-media-social {
  background: #3d137f;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 38px;
}