@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }

  .swiper p {
    font-size: 0.75rem;
    font-weight: 300;
  }
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 0.45rem!important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  border-radius: 30px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  margin-bottom: 2rem;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background-color: black;
  backdrop-filter: blur(15px);
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background-image: url('../images/pocket/salas-tematicas/fundo-aldeia-da-folha.png');
  background-size: cover;
  background-position: center;
}
.swiper-slide--two {
  background-image: url('../images/pocket/salas-tematicas/fundo-atelie-do-medo.png');
  background-size: cover;
  background-position: center;
}
.swiper-slide--three {
  background-image: url('../images/pocket/salas-tematicas/fundo-genshin-impact.png');
  background-size: cover;
  background-position: center;
}
.swiper-slide--four {
  background-image: url('../images/pocket/salas-tematicas/fundo-salao-comunal.png');
  background-size: cover;
  background-position: center;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}