@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }

  .swiper p {
    font-size: 0.75rem;
    font-weight: 300;
  }
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 0.45rem!important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  border-radius: 30px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  margin-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section#convidados-pocket div.swiper-slide {
  width: 28.125rem;
  height: 24.75rem;
  box-shadow: none;
  margin-bottom: 2rem;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

/* CONVIDADOS */
.swiper-slide-convidados-one {
  background-image: url('../images/pocket/convidados/AC\ \(2\).png');
}
.swiper-slide-convidados-two {
  background-image: url('../images/pocket/convidados/AH\ \(2\).png');
}
.swiper-slide-convidados-three {
  background-image: url('../images/pocket/convidados/IB\ \(2\).png');
}
.swiper-slide-convidados-four {
  background-image: url('../images/pocket/convidados/JP\ \(2\).png');
}
.swiper-slide-convidados-five {
  background-image: url('../images/pocket/convidados/KB\ \(2\).png');
}
.swiper-slide-convidados-six {
  background-image: url('../images/pocket/convidados/LB\ \(2\).png');
}

/* SALAS TEMÁTICAS */
.swiper-slide-salas-one {
  background-image: url('../images/pocket/salas-tematicas/fundo-aldeia-da-folha.png');
}
.swiper-slide-salas-two {
  background-image: url('../images/pocket/salas-tematicas/fundo-atelie-do-medo.png');
}
.swiper-slide-salas-three {
  background-image: url('../images/pocket/salas-tematicas/fundo-genshin-impact.png');
}
.swiper-slide-salas-four {
  background-image: url('../images/pocket/salas-tematicas/fundo-salao-comunal.png');
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}